<!DOCTYPE html>
<html>
<head>
	<title>LaunchPad Firmata</title>
	<script src="javascripts/jquery-1.11.1.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="javascripts/firmata-lib.js"></script>
	<script src="javascripts/launchpad-gui.js"></script>
	<link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
	<div class="container">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" onclick="window.location.reload()" href="">LaunchPad Firmata</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#Reference">Reference</a></li>
					<li><a href="#Graph">Graph</a></li>
				</ul>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<form class="navbar-form navbar-left" role="search">
							<select id="portListSelect" class="form-control"></select>
							<button id="connectBtn" class="btn btn-primary">Connect</button>
							<button id="disconnectBtn" class="btn btn-danger" style="display: none;">Disconnect</button>
						</form>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">

					<div id="boosterpackPinDiv" class="row"></div>
					<div id="extraPinDiv"></div>
			</div>
		</div>
		<!--
			<h1 id="Reference" class="page-header">Reference</h1>
			<h1 id="Graph" class="page-header">Graph</h1>
		-->
	</div>
</body>
</html>

	<!--
	<div>
		<div>Temperature:</div>
		<div class="TemperatureReading"></div>
	</div>	

	<button id="populatePinsButton">Populate Pins</button>
	-->