<!DOCTYPE html>
<html>
<head>
	<script src="javascripts/jquery-1.11.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="javascripts/firmata-lib.js"></script>
	<script src="javascripts/firmataF5529.js"></script>
	<link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

	<div class="container well">
		<div class="well">
			<h1>Node JS Firmata Test</h1>
			<div class="row">
				<div class="col-xs-4">
					<select id="portListSelect" class="form-control"></select>
				</div>
				<div class="col-xs-8">

					<button id="connectBtn" class="btn btn-primary">Connect</button>
				</div>
			</div>
			<hr/>
			<div class="row">
				<div hidden id="pinDiv" class="col-xs-6"></div>
				<div hidden id="rightPanel" class="col-xs-6 well">
					<div id="analogUpdateFreqDiv" class="well">
						<label class="control-label">Analog Update Frequency</label>
						<select id="analogUpdateFreqSelect" class="form-control">
							<option>Slow</option>
							<option selected>Standard</option>
							<option>Fast</option>
						</select>
					</div>
					<div id="i2cDiv" class="well">
						<label class="control-label">I2C Control</label>
						<div class="form-inline">
							<div class="form-group">
								<input type="text" class="form-control" id="i2cSlaveAddrTextbox" placeholder="Slave Addr e.g. 0x48">	
								<button class="btn btn-primary" id="i2cInitBtn">Initialize</button>
							</div>
							
							<div class="form-group">
							    <input type="text" class="form-control" id="i2cSendTextbox" placeholder="0x00, 0xAB, ...">
							    <button class="btn btn-primary" id="i2cWriteBtn">Write</button>
							</div>
							<div class="form-group">
							    <input type="text" class="form-control" id="i2cByteCntTextbox" placeholder="# of bytes">
							    
							    <button class="btn btn-primary" id="i2cReadBtn">Read</button>
							</div>
						</div>
						<div class="form-group">
								<input type="text" class="form-control" id="i2cResultTextbox" placeholder="Result">
							</div>
							<p>The returned I2C result can be accessed through variable "i2cResult" in the console.</p>
					</div>
				</div>
					
			</div>
		</div>
	</div>
</body>
</html>

	<!--
	<div>
		<div>Temperature:</div>
		<div class="TemperatureReading"></div>
	</div>	

	<button id="populatePinsButton">Populate Pins</button>
	-->