<!DOCTYPE html>
<html>
<body>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="javascripts/firmataF5529.js"></script>

	<h1>Firmata MSP430F5529</h1>

	<select id="portListSelect"></select>
	<button id="initButton">Connect</button>

	<div>
		<div>Temperature:</div>
		<div class="TemperatureReading"></div>
	</div>

	<div>0<input type="range" name="points" min="0" max="255" onChange="console.log('value:'+this.value)">255</div>
	

	<button id="ledButton">Toggle LED</button>

	<button id="populatePinsButton">Populate Pins</button>
	<div id="pinDiv"></div>

	
	<!--<script>
		$('#myButton').click(function(e)
		{
			$.post("/helloworld", function( data ) {
				console.log(data);
				$( ".result, h1" ).html( data.temperature );
			});
		});
	</script>-->
	
</body>
</html>
