<!DOCTYPE html>
<html>
<head>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="javascripts/firmataF5529.js"></script>
	<link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

	<div class="container well">
		<div class="well">
			<h1>Node JS Firmata Test</h1>
			<div class="row">
				<div class="col-xs-4">
					<select id="portListSelect" class="form-control"></select>
				</div>
				<div class="col-xs-8">

					<button id="initButton" class="btn btn-primary">Connect</button>
				</div>
			</div>
			<hr/>
			<div id="pinDiv"></div>
		</div>

		

	<!--
	<div>
		<div>Temperature:</div>
		<div class="TemperatureReading"></div>
	</div>	

	<button id="ledButton">Toggle LED</button>


	<button id="populatePinsButton">Populate Pins</button>
	-->
	
</div>
</body>
</html>
