body {
	background: rgb(70,100,100);
}

#pinDiv div {
	display: -webkit-box; 
}

.pin-analog, .pin-input, .pin-pwm, .pin-servo {
	padding: 7px;
	display: inline;
}

/* prevent dropdown from being too wide*/
#pinDiv .form-control {
	width: inherit;
}

#pinDiv label {
	margin-right: 5px;
}
