#pinDiv div {
	display: -webkit-box; 
}

.pin-analog, .pin-input, .pin-pwm, .pin-servo {
	padding: 7px;
	display: inline;
}

/* prevent dropdown from being too wide*/
#pinDiv .form-control {
	width: inherit;
}
